@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Style+Script&family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Style+Script&family=Tangerine:wght@400;700&display=swap');

/* Remove default spacing */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{
    scroll-behavior: smooth;
}

/* fonts */

body{
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.cursive{
    font-family: "Tangerine", cursive;
    font-weight: 700;
    font-style: normal;
}

/* body */

nav{
    position: relative;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 50px;
    box-shadow: 0px 9px 7px rgba(0,0,0,0.4);
    box-shadow: inset;
    background-color: #0D3B17;
}
nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
nav ul li{
    margin-left: 30px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
    color: #D9BE82;
}
nav h1{
    color: #D9BE82;
    font-size: 2.8rem;
}
.menu-button{
    display: none;
}

/* sidebar */

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li{
    width: 100%;
    color: black;
}
.sidebar a{
    width: 100%;
    color: black;
}
.primary-green a{
    display: flex;
    color: #1B5E20;
    padding-top: 1.5rem;
}
.primary-green a:hover{
    color: #0D3B17;
}
/* hero section */

.hero{
    height: 90vh;
    background-image: url("./images/bg-image.png");
    background-size: cover;
    background-position: center 90%;
    background-repeat: no-repeat;
    z-index: -999;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.front-svg{
    /* height: 10px; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 20vw;
    margin: 5vh 0 2vh 0;
}
.hero div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero div h2{
    color: #b98c27;
    letter-spacing: 3px;
}
.hero div h1{
    color: #0D3B17;
    font-size: 3rem;
}
.divider{
    width: 15vw;
    padding-bottom: 10px;
}
.hero .hero-buttons-div{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 20px;
}
.herobuttons{
    height: 2rem;
    width: 8rem;
    border-radius: 0.8rem;
}
.herobuttons:hover{
    cursor: pointer;
}
.btn1:hover{
    background-color: #031808;
}
.btn1{
    background-color: #0D3B17;
    color: white;
    border: 0px;
    font-size: 0.9rem;
}
.btn2{
    border: 2px solid rgb(90, 60, 60);
    background-color: transparent;
    color:rgb(90, 60, 60);
    font-size: 0.96rem;
}
.btn2:hover{
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
}

/* products section*/

.products-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 550px;
}
.products-section {
    position: relative;
    background-color: rgb(248, 239, 222);
    overflow: hidden;
}

#pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("./images/islamic-pattern.svg");
    background-size: 400px;
    background-repeat: repeat;

    -webkit-mask-image: radial-gradient(
        ellipse at center,
        transparent 35%,
        black 80%
    );

    mask-image: radial-gradient(
        ellipse at center,
        transparent 15%,
        black 70%
    );

    z-index: 0;
    pointer-events: none;
}
.products-section > * {
    position: relative;
    z-index: 1;
}
.products-content{
    position: relative;
    z-index: 1;
    text-align: center;
}
.products-content>img{
    width: 35vw;
    padding: 20px 0 20px 0;
}
.products-content h2{
    margin: 20px 50px;
    font-size: 2.5rem;
    color:#0D3B17;
}
.product-container{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    flex-wrap: wrap;
    height: 300px;
    width: 250px;
    border: 2px solid #dbc9a8;
    border-radius: 10px;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
}
.card h3{
    color:#0D3B17;
}
.card-divider{
    width: 10vw;
}
.product-images{
    width: 246px;
    height: 150px;
    background-color: rgb(212, 195, 136);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}
.cards-button{
    margin-top:8px;
    color: #b98c27;
    font-size: 1rem;
    border: none;
}
.cards-button:hover{
    cursor: pointer;
    color: #705a21;
}

/* about section */

.about-section{
    display: flex;
    background-color:#fde1ae;
    justify-content: center;
    gap: 100px;
}
.about-image img{
    height: 500px;
}
.about-divider{
    width: 20vw;
}
.about-divider-2{
    width: 50vw;
}
.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50vw;
    padding-top: 40px;
}
.about-us-heading{
    font-size: 2.5rem;
}
.about-content h1{
    color:#1B5E20;
    font-size: 1rem;
}
#about-us-heading{
    font-size: 2.2rem;
}
.about-content>p{
    color:rgb(0, 0, 0);
    padding: 5px 80px 20px 80px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.features{
    display: flex;
    margin-bottom: 20px;
}
.individual-features{
    display: flex;
    flex-direction: column;
    padding: 20px 15px 10px 0;
    align-items: center;
    text-align: center; 
}
.about-svgs{
    width: 5vw;
}


/* why choose us */

.why-choose-us-section{
    background-color:#fff0d4;

}
.why-choose-us-div{
    display: flex;
    justify-content: center;
    padding : 50px 50px 50px 50px;
    
}
.contact{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.whychooseus{
    padding-top: 50px;
}
.why-choose-us-item{
    display: flex;
    /* flex-direction: column; */
    padding: 10px 0 10px 0;
}
.contact > div img{
    width: 20vw;
}
.contact-item{
    padding: 10px 0 10px;
    display: flex;
}
.last-content > div img{
    width: 20vw;
}
.last-content h1{
    font-size: 2.5rem;
    color: #0D3B17;
    text-align: center;
}
.last-content{
    padding: 0 40px 0 40px;
}
.last-content p{
    font-size: 2rem;
    text-align: center;
    padding: 5px 30px 50x 30px;
}
.follow-us{
    padding: 30px 0 30px 0;
    font-size: 1.7rem;
}
.whychooseus > div img{
    width: 20vw;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vertical-line svg{
    height: 10vh;
}
.contact-item h4, p {
    margin-left: 8px;
}
.why-choose-us-item h4,p{
    margin-left: 8px;
}
.why-choose-us-svgs{
    width: 3vw;
}
.contact-icon{
    font-size: 2vw;
}
.green{
    color: #0D3B17;
}



@media(max-width:1024px){
    .product-container{
        flex-wrap: wrap;
        width: 100%;
    }
    .card{
        flex-wrap: wrap;
    }
    .about-content>p{
        padding: 5px 20px 20px 20px;
    }
    .individual-features{
        padding: 10px 5px 7px 0px;
        font-size: 0.7rem;
    }
    .individual-features h1{
        font-size: 0.9rem;
    }
    .about-image img{
        width: 30vw;
        height: auto;
        justify-content: center;
        text-align: center;
    }
    .about-section{
        gap: 50px;
    }
}
@media (max-width:929px) {
    .products-section{
        height: 830px;
    }
    .card-divider{
        width: 20vw;
    }
    .front-svg{width: 40vw;}
    .divider{width: 30vw;}
    .about-divider-2{
        width: 40vw;
    }
    .about-section{
        gap: 50px;
    }
    .about-image > img {   
        padding-top: 3vw;
    }
}
@media (max-width: 805px) {
    .hideonmobile{
        display: none;
    }
    .menu-button{
        display: block;
    }
    .products-content>img{
        width: 60vw;
    }
    .about-image > img {   
        padding-top: 7vw;
    }
    
}
@media (max-width: 749px) {

    .about-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /* Make children of about-content behave
       like direct children of about-section */
    .about-content {
        display: contents;
    }

    /* 1. Top divider */
    .about-content > div:first-child {
        order: 1;
        text-align: center;
    }

    /* 2. Heading */
    #about-us-heading {
        order: 2;
    }

    /* 3. Description */
    .about-content > p {
        order: 3;
        font-size: 1rem;
        text-align: center;
    }

    /* 4. Arch image */
    .about-image {
        order: 4;
        
    }

    .about-image > img {
        padding-top: 0;
    }

    /* 5. Long divider */
    .about-content > div:nth-of-type(2) {
        order: 5;
    }

    .about-divider-2 {
        width: 80vw;
    }

    /* 6. Features */
    .features {
        order: 6;
        width: 90vw;
        padding-bottom: 20px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .individual-features {
        padding: 15px 8px;
        text-align: center;
        border: 2px solid #D9BE82;
        border-radius: 15px;
        align-items: center;
    }

    .individual-features h1 {
        font-size: 0.9rem;
    }

    .individual-features p {
        font-size: 0.8rem;
    }
    .about-divider{
        width: 60vw;
    }
    .about-divider-2{
        width: 80vw;
    }
    .about-section{
        gap: 0;
        padding-top: 30px;
    }
    .about-svgs{
        width: 11vw;
    }
}
@media (max-width:619px) {
   .products-section{
        height: 1130px;
    } 
    .card-divider{
        width: 35vw;
    }
    .about-image > img {
        display: block;   
        width: 57vw;
        height: 80vw;
        max-width: 320px;
    }
}
@media (max-width:450px) {
    .sidebar{
        width: 100%;
    }
    .cursive{
        font-size: 1.8rem;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .hero .hero-text h1{
        font-size: 2.5rem;
    }
}
@media(max-width:370px){
    .hero .hero-text h1{
        font-size: 2rem;
    }
    .front-svg{width: 60vw;}
    .divider{width: 50vw;}
    .products-content>img{
        width: 70vw;
    }
    .products-section{
        height: 1200px;
    }
    .individual-features h1{
        font-size: 0.8rem;
    }
    .individual-features P{
        font-size: 0.7rem;
    }
}
@media (max-width:320px) {
    .cursive{
         font-size: 1.6rem;
    }
}